{% extends "_layouts/default" %}

{% block content %}

  <div class="fixed-left-bottom px-2 py-2">
    <p class="caps display tn-2 c-black">Back to Index</p> {# bb-1 #}
  </div>

  <div class="fixed-right-bottom px-2 py-2">
    <p class="tn-2 cg-3" id="reading-indicator"><span>0</span>%</p>
  </div>

  <article class="pt-5 pb-5">
    <section class="container mb-5">
      <div class="flex items-end">
        <div class="col-2">
          <p class="caps display tn-2 cg-4 pl-1 pb-1 mb-2">{{ entry.postDate | date("d M Y") }}</p>
        </div>
        <div class="col-md-6 pr-4">
          <h1 class="caps display mb-2 c-black t-2">{{ entry.title }}</h1>
        </div>
      </div>
    </section>

    {% for block in entry.postBuilder %}

      {% if block.type == "textBlock" %}
        <section class="container mb-3 mb-md-5">
          <div class="col-10 col-md-6 push-1 push-md-2">
            <div class="wysiwyg">
              {{ block.text }}
            </div>
          </div>
        </section>
      {% endif %}

    {% endfor %}

    <section class="mt-2 py-7 cbgg-7">
    </section>
  </div>
</article>

{% endblock %}