{% extends "_layouts/default" %}

{% block content %}
  
  <section class="container pt-5">
    <div class="row mln-1">
      <div class="col-md-6 push-md-2">
        <a href="#" class="caps tn-2 px-1 c-black">Everything</a>
        <a href="#" class="caps tn-2 px-1 cg-4">Code</a>
        <a href="#" class="caps tn-2 px-1 cg-4">Projects</a>
        <a href="#" class="caps tn-2 px-1 cg-4">Design</a>
        <a href="#" class="caps tn-2 px-1 cg-4">Thoughts</a>
        <a href="#" class="caps tn-2 px-1 cg-4">Life</a>
      </div>
      </div>
    </section>

  <main class="pt-5 pb-5">

    <div class="container">

      {% for entry in craft.entries.section('writings').limit(10) %}
        <article class="row mb-3">

          <a href="{{ entry.uri }}" title="{{ entry.title }}" class="d-block">

            <div class="flex items-baseline mb-2">
              <div class="col-2">
                <p class="caps display tn-2 cg-4">{{ entry.postDate | date("d M Y") }}</p>
              </div>
              <div class="col-md-6">
                <h1 class="caps display c-black">{{ entry.title }}</h1>
              </div>
            </div>
            {# <div class="flex">
              <div class="col-md-6 push-md-2">
                <p class="tn-1 cg-2 mb-3">{{ entry.teaser }}</p>
                <a href="{{ entry.url }}" class="caps display tn-2 c-black bb-1">Read More</a>
              </div>
            </div> #}
          </a>

        </article>
      {% endfor %}

    </div>
  </main>

{% endblock %}