{% extends "_layouts/default" %}

{% block content %}

  <main class="pt-5 pb-5">
    <section class="container mb-5 px-2">
      <div class="flex-md items-baseline">
        <div class="col-md-2">
          <p class="caps tn-2 cg-4 pb-1 mb-2">Overview</p>
        </div>
        <div class="col-md-6 ">
          <h1 class="caps display mb-2 c-black t-2">{{ entry.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 push-md-2 tn-1 cg-1">
          <div class="mb-4">{{ entry.teaser }}</div>
          <h2 class="d-none d-md-block display caps tn-2 c-black a-3">{% for type in entry.projectTypes %}{{ type.title }}{% if not loop.last %}, {% endif %}{% endfor %}</h2>
          <h2 class="d-md-none display caps tn-2 c-black a-3">
            {% for type in entry.projectTypes %}<span class="d-block {% if not loop.last %}mb-1{% endif %}">{{ type.title }}</span>{% endfor %}</h2>
        </div>
      </div>
    </section>

    {% for block in entry.worksBuilder %}

      {% if block.type == "fullWidthMockup" %}
        <section class="py-5" style="background-color: {{ block.bgColor }};">
          <div class="container">
            <img src="/{{ block.mockup[0].getUrl() }}" class="wp-100 shadow" />
          </div>
        </section>
      {% endif %}

      {% if block.type == "fullWidthBrand" %}
        <section class="py-6 ta-center" style="background-color: {{ block.bgColor }};">
          <div class="container" style="line-height: 0;">
            <img src="/{{ block.brandAsset[0].getUrl() }}" class="wp-40" />
          </div>
        </section>
      {% endif %}

      {% if block.type == "contentBlock" %}
        <section class="py-5 px-2">
          <div class="container">
            <div class="flex-md items-baseline">
              <div class="col-md-2">
                <p class="caps tn-2 cg-4 pb-1 mb-2">Heading</p>
              </div>
              <div class="col-md-6 tn-1 cg-1 wysiwyg">
                {{ block.body }}
              </div>
            </div>
          </div>
        </section>
      {% endif %}

    {% endfor %}


    <section class="container pt-5 px-2">
      <div class="col-md-2">
        <span class="caps tn-2 mr-2 cg-4">Share</span>
      </div>
      <div class="col-md-6">
        <a href="#" class="caps tn-2 mr-1 c-black">Facebook</a>
        <a href="#" class="caps tn-2 mr-1 c-black">Twitter</a>
        <a href="#" class="caps tn-2 mr-1 c-black">LinkedIn</a>
      </div>
    </section>
  </main>

  {% set params = craft.entries.section('works') %}
  {% set linkTo = entry.getNext(params) %}
  
  {% if linkTo %}
    {% include '_shared/footerLink' %}
  {% endif %}

{% endblock %}