{% extends "_layouts/default" %}

{% block content %}
    
  <main class="py-5">
    <div class="container">

      <article class="row mb-5">
        <div class="flex items-baseline">
          <div class="col-1">
            <p class="display tn-2 cg-5">01</p>
          </div>
          <div class="col-10 col-md-6 push-1">
            <h1 class="display caps t-1 mb-1">Design Kollective</h1>
            <h2 class="display caps tn-2 c-black a-3">Mobile Application Design, Front-End Development</h2>
          </div>
        </div>
      </article>

      <article class="row mb-5">
        <div class="flex items-baseline">
          <div class="col-1">
            <p class="display tn-2 cg-5">01</p>
          </div>
          <div class="col-10 col-md-6 push-1">
            <h1 class="display caps t-1 mb-1">Octop.us</h1>
            <h2 class="display caps tn-2 c-black a-3">Front-End Development</h2>
          </div>
        </div>
      </article>

      <article class="row mb-5">
        <div class="flex items-baseline">
          <div class="col-1">
            <p class="display tn-2 cg-5">01</p>
          </div>
          <div class="col-10 col-md-6 push-1">
            <h1 class="display caps t-1 mb-1">Spera Health</h1>
            <h2 class="display caps tn-2 c-black a-3">Mobile Application Design</h2>
          </div>
        </div>
      </article>

      <article class="row mb-5">
        <div class="flex items-baseline">
          <div class="col-1">
            <p class="display tn-2 cg-5">02</p>
          </div>
          <div class="col-10 col-md-6 push-1">
            <h1 class="display caps t-1 mb-1">Paradox</h1>
            <h2 class="display caps tn-2 c-black a-3">Brand Design</h2>
          </div>
        </div>
      </article>

      <article class="row mb-5">
        <div class="flex items-baseline">
          <div class="col-1">
            <p class="display tn-2 cg-5">03</p>
          </div>
          <div class="col-10 col-md-6 push-1">
            <h1 class="display caps t-1 mb-1">Jonathan Gottschall</h1>
            <h2 class="display caps tn-2 c-black a-3">Website Design &amp; Development</h2>
          </div>
        </div>
      </article>

    </div>
  </main>

{% endblock %}
