<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  <link rel="shortcut icon" href="{{ siteUrl }}/favicon.ico">

  {% hook 'seomaticRender' %}
  {% includeCssFile "/css/main.css" %}
</head>

<body>
  <header id="global-header" class="p-1 wp-100">
    <div class="pt-4 pb-5 px-1">
    <div class="container">
      <div class="flex flex-start">
        <div class="col-8">
          <a href="/" data-transition="up" class="d-block display caps tn-1 c-black">Christian Griffith</a>
        </div>
        <nav class="blacklist d-none d-md-block col-2 relative item-right">
          {% for network in siteGlobals.networks %}
            <a href="{{ network.link }}" class="d-block blacklist display caps tn-2 cg-4 mb-1">{{ network.name }}</a>
          {% endfor %}
          <a href="mailto:chris@chrisgriffith.co" class="d-block blacklist display caps tn-2 cg-4 mb-1">Mail</a>
        </nav>
      </div>
    </div>
    </div>
  </header>

  <div id="smoothstate" class="hp-100">
    <div class="pt-5">
      {% block content %}
        <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
      {% endblock %}
    </div>
  </div>

  {% set ga %}
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45966824-1', 'auto');
    ga('send', 'pageview');
  {% endset %}

  {% if not craft.config.devMode %}
    {% includeJs ga %}
  {% endif %}

  {% includeJsFile '/js/main.js' %}
  {% includeJs "require('source/coffee/initialize');" %}

</body>
</html>
