{% extends "layouts/default" %}

{% block content %}

<section class="py-7 pb-5">
  <div class="container">

    <div class="col-md-8 push-md-2">
      <h1 class="caps display mb-4">Contact Me</h1>
      <form class="py-5">
        <div class="field wp-60">
          <div class="bb-7 mb-3">
            <label class="caps display d-block tn-3 mb-1 pl-1">Name</label>
          </div>
        </div>
        <div class="field wp-60">
          <div class="bb-7 mb-3">
            <label class="caps display d-block tn-3 mb-1 pl-1">Email Address</label>
          </div>
        </div>
        <div class="field wp-80">
          <div class="bb-7 pb-5">
            <label class="caps display d-block tn-3 mb-1 pl-1">Message</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}