{% extends "_layouts/default" %}

{% block content %}
    
  <section class="pb-5">
    <div class="container px-2">

      {% for entry in craft.entries.section('works') %}
        <article class="row py-3">
          <a href="{{ entry.uri }}" class="d-block">
          <div class="flex items-baseline">
            <div class="col-1">
              <p class="display tn-2 cg-5">0{{ loop.index }}</p>
            </div>
            <div class="col-10 col-md-6 push-1">
              <h1 class="animate display caps t-0 t-md-1 mb-1 c-black">{{ entry.title }}</h1>
              <h2 class="animate display caps tn-2 c-black a-3">{% for type in entry.projectTypes %}{{ type.title }}{% if not loop.last %}, {% endif %}{% endfor %}</h2>
            </div>
          </div>
          </a>
        </article>
      {% endfor %}

    </div>
  </section>

{% endblock %}


{# {% block content %}

  <main class="container pb-5">

    {% for block in entry.pageBuilder %}

      {% if block.type == "qaBlock" %}
        <div class="row mb-3 mb-md-4">
          <div class="col-10 col-md-6 push-2">
            <h2 class="display caps tn-2 cg-5 mb-2 antialiased">{{ block.question }}</h2>
            <div class="wysiwyg">
              {{ block.response }}
            </div>
          </div>
        </div>
      {% endif %}

    {% endfor %}

    <div class="row">
      <div class="col-10 col-md-6 push-2">
        <a href="/about" class="caps display tn-2 c-black bb-1">More About Me</a>
      </div>
    </div>

  </main>

  {% set linkTo = craft.entries.section('works').first() %}
  {% include '_shared/footerLink' %}

{% endblock %}

 #}