{% extends "layouts/default" %}

{% block content %}

	<section class="pt-7 pb-5">
    <div class="container">

      {% for block in entry.pageBuilder %}

        {% if block.type == "qaBlock" %}
          <div class="row mb-3 mb-md-4">
            <div class="col-10 col-md-6 push-1 push-md-2">
              <h2 class="display tn-3 cg-5 mb-2 antialiased">{{ block.question }}</h2>
              <div class="wysiwyg">
                {{ block.response }}
              </div>
            </div>
          </div>
        {% endif %}

      {% endfor %}

    </div>
  </section>

  <article class="link-panel relative py-4 bt-8" style="overflow: hidden;">
    <a href="#" class="absolute-top-left w-100 h-100"></a>
    <div class="container">
      <div class="col-10 push-1 push-md-2" style="backface-visibility: hidden;">
        <p class="display tn-3 cg-4 mb-3">01</p>
        <h1 class="display mb-1">Spera</h1>
        <h2 class="display tn-2 cg-3">Mobile Application Design</h2>
      </div>
    </div>
    <div class='panel-cover absolute-top-left w-100 h-100 y-100 cbgg-black zn-1'></div>
  </article>

{% endblock %}



{# 	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul> #}

