* {
  box-sizing: border-box;
}

body,
html {
  @extend .antialiased;

  height: 100%;
}

p,
a {
  @extend .antialiased;

  letter-spacing: 0.035em;
}

// a[class*='bb'] {
//   transition: line-height 0.09s cubic-bezier(.17,.67,.72,1.12);

//   &:hover { line-height: 2; }
// }

a[class*='bb'] {
  @extend .d-inline-block;
  @extend .relative;

  text-decoration: none;

  &::after {
    content: '';
    position: absolute;

    @extend .d-block;
    @extend .wp-100;
    @extend .bb-1;
  }

  &:hover {

    &::after {
      @extend .wp-0; 
      @extend .d-none;
    }
    
  }

}

