* {
  box-sizing: border-box;
}

body,
html {
  @extend .antialiased;
  height: 100%;
}

p,
a {
  @extend .antialiased;
  letter-spacing: 0.035em;
}

// Make it harder to copy images.
img {
  pointer-events: none;
}